Repository aggie-coding-club/Rev-Registration, pull requests merged in 2019-11, with the labels that each got.

#51 Frontend/materialui setup
  autoscheduler/frontend/src/.eslintrc.js
  autoscheduler/frontend/src/App.tsx
  autoscheduler/frontend/src/package.json
  autoscheduler/frontend/src/tests/App.test.tsx
Labels: frontend

#77 Fixed types to correctly declare class members
  autoscheduler/frontend/src/types/Course.ts
  autoscheduler/frontend/src/types/Department.ts
  autoscheduler/frontend/src/types/Instructor.ts
  autoscheduler/frontend/src/types/Meeting.ts
  autoscheduler/frontend/src/types/Section.ts
Labels: bug, frontend

#84 Split actions workflow into separate front/backend parts
  .github/workflows/backend-workflow.yml
  .github/workflows/frontend-workflow.yml
Labels: continuous-integration

#69 Hot reload for npm run dev
  autoscheduler/frontend/src/.eslintrc.js
  autoscheduler/frontend/src/package-lock.json
  autoscheduler/frontend/src/package.json
  autoscheduler/frontend/src/webpack.config.js
Labels: enhancement, frontend

#91 Added Danger.js
  .github/dangerfile.ts
  .github/workflows/danger-workflow.yml
Labels: continuous-integration

#88 Added CSS modules
  autoscheduler/frontend/src/.eslintrc.js
  autoscheduler/frontend/src/components/Empty.css
  autoscheduler/frontend/src/components/Empty.css.d.ts
  autoscheduler/frontend/src/components/Empty.tsx
  autoscheduler/frontend/src/jest.config.js
  autoscheduler/frontend/src/package-lock.json
  autoscheduler/frontend/src/package.json
  autoscheduler/frontend/src/webpack.config.js
  autoscheduler/frontend/templates/index.html
Labels: frontend

#96 Let React handle routing
  autoscheduler/frontend/urls.py
Labels: backend, frontend

#86 Implement Department Scraping
  autoscheduler/scraper/management/commands/scrape_depts.py
  autoscheduler/scraper/tests/commands/__init__.py
  autoscheduler/scraper/tests/commands/scrape_depts_tests.py
  autoscheduler/scraper/tests/data/depts_input.json
  autoscheduler/scraper/tests/utils/load_json.py
Labels: backend
