Repository aggie-coding-club/Rev-Registration, pull requests merged in 2020-05, with the labels that each got.

#246 Corrected CourseCardRedux tests
  autoscheduler/frontend/src/tests/redux/CourseCardRedux.test.ts
Labels: bug, frontend

#249 Display average GPA for schedules in SchedulePreview
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.tsx
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
Labels: feature, frontend

#247 Fixed bug where changing web would update honors instead
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicOptionRow.tsx
  autoscheduler/frontend/src/package-lock.json
  autoscheduler/frontend/src/package.json
  autoscheduler/frontend/src/tests/ui/BasicSelect.test.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
Labels: bug, frontend

#253 Sort sections by section number
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
Labels: bug, frontend

#234 Parse instructor fix
  autoscheduler/scraper/management/commands/scrape_courses.py
  autoscheduler/scraper/tests/commands/scrape_courses_tests.py
Labels: backend, bug

#248 Show ONLINE for online meetings in SectionSelect
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
Labels: feature, frontend

#262 Meeting times are no longer covered up by adjacent meetings
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/ScheduleCard/ScheduleCard.css
Labels: bug, frontend
