Repository aggie-coding-club/Rev-Registration, pull requests merged in 2020-08, with the labels that each got.

#292 Store courses in sessions
  autoscheduler/frontend/src/components/SchedulingPage/ConfigureCard/ConfigureCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/tests/ui/CourseSelectColumn.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulingPage.test.tsx
  autoscheduler/frontend/src/types/CourseCardOptions.ts
  autoscheduler/pytest.ini
  autoscheduler/user_sessions/tests/courses_api_tests.py
  autoscheduler/user_sessions/tests/term_api_tests.py
  autoscheduler/user_sessions/urls.py
  autoscheduler/user_sessions/views.py
Labels: backend, feature, frontend

#308 Made scrape_courses override previous data
  autoscheduler/scraper/management/commands/scrape_courses.py
  autoscheduler/scraper/management/commands/scrape_grades.py
  autoscheduler/scraper/management/commands/utils/scraper_utils.py
Labels: backend, change

#322 Fixed aio_test_case linting error
  autoscheduler/scraper/tests/aio_test_case.py
Labels: backend, bug

#309 Organized SectionSelect tests
  autoscheduler/frontend/src/components/SchedulingPage/ConfigureCard/ConfigureCard.tsx
  autoscheduler/frontend/src/tests/redux/Availability.test.ts
  autoscheduler/frontend/src/tests/redux/Schedule.test.ts
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
  autoscheduler/frontend/src/tests/ui/SectionSelect.test.tsx
Labels: frontend

#276 Frontend/save schedules
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/meetingColors.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/Buttons/DeleteScheduleButton.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/Buttons/SaveScheduleButton.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.tsx
  autoscheduler/frontend/src/components/SmallFastProgress.tsx
  autoscheduler/frontend/src/redux/actions/schedules.ts
  autoscheduler/frontend/src/redux/reducers/schedules.ts
  autoscheduler/frontend/src/tests/redux/Schedule.test.ts
  autoscheduler/frontend/src/tests/redux/SchedulingPage.test.ts
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
Labels: feature, frontend

#304 User sessions/get first and last name api
  autoscheduler/frontend/src/components/NavBar.tsx
  autoscheduler/frontend/src/tests/ui/App.test.tsx
  autoscheduler/user_sessions/tests/name_api_tests.py
  autoscheduler/user_sessions/tests/term_api_tests.py
  autoscheduler/user_sessions/urls.py
  autoscheduler/user_sessions/views.py
Labels: backend, frontend

#307 Show building in SectionSelect
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/tests/ui/SectionSelect.test.tsx
  autoscheduler/scraper/serializers.py
  autoscheduler/scraper/tests/api_tests.py
Labels: backend, frontend

#330 No longer selects all options
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.tsx
Labels: bug, frontend
