Repository aggie-coding-club/Rev-Registration, pull requests merged in 2020-03, with the labels that each got.

#151 Redux updates to handle availability
  autoscheduler/frontend/src/.eslintrc.js
  autoscheduler/frontend/src/redux/actionTypes.ts
  autoscheduler/frontend/src/redux/actions.ts
  autoscheduler/frontend/src/redux/reducers.ts
  autoscheduler/frontend/src/tests/Redux.test.ts
  autoscheduler/frontend/src/tests/ReduxAvailability.test.tsx
  autoscheduler/frontend/src/types/Availability.ts
  autoscheduler/frontend/src/types/DayOfWeek.ts
Labels: enhancement, frontend

#154 Scraper API Term & Course Search
  autoscheduler/scraper/models/course.py
  autoscheduler/scraper/serializers.py
  autoscheduler/scraper/tests/api_tests.py
  autoscheduler/scraper/urls.py
  autoscheduler/scraper/views.py
Labels: backend

#171 Fixed add course button getting cut off
  autoscheduler/frontend/src/components/CourseSelectColumn/CourseSelectColumn.css
Labels: bug, frontend
