Repository aggie-coding-club/Rev-Registration, pull requests merged in 2020-12, with the labels that each got.

#427 Select all section select
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/tests/ui/SectionSelect.test.tsx
Labels: feature, frontend, hacktoberfest-accepted

#475 Cache terms api
  autoscheduler/frontend/src/components/LandingPage/SelectTerm/SelectTerm.tsx
  autoscheduler/frontend/src/tests/ui/SelectTerm.test.tsx
Labels: change, frontend

#385 Ordering of meetings
  .gitignore
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/utils/sortMeetingFunction.tsx
  autoscheduler/frontend/src/utils/timeUtil.ts
Labels: frontend

#480 Instructional method icons
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicSelect.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicSelect.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/InstructionalMethodIcon/InstructionalMethodIcon.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/InstructionalMethodIcon/InstructionalMethodIcon.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/InstructionalMethodIcon/InstructionalMethodIcon.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionInfo.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/testData.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/tests/redux/Redux.test.ts
  autoscheduler/frontend/src/tests/redux/Schedule.test.ts
  autoscheduler/frontend/src/tests/testData.ts
  autoscheduler/frontend/src/tests/testSchedules.ts
  autoscheduler/frontend/src/tests/types/Meeting.test.ts
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
  autoscheduler/frontend/src/tests/ui/MeetingCard.test.tsx
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
  autoscheduler/frontend/src/tests/ui/SectionSelect.test.tsx
  autoscheduler/frontend/src/theme.ts
  autoscheduler/frontend/src/types/Section.ts
Labels: feature, frontend

#487 Fix test failing after merge
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
Labels: bug, frontend

#463 New course colors
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/meetingColors.ts
Labels: change, frontend

#439 Backend/400error
  autoscheduler/user_sessions/tests/name_api_tests.py
  autoscheduler/user_sessions/views.py
Labels: backend, change
