Repository aggie-coding-club/Rev-Registration, pull requests merged in 2020-10, with the labels that each got.

#383 Add SSL redirection
  autoscheduler/app.yaml
Labels: deployment

#392 Fix validateDOMNesting error
  autoscheduler/frontend/src/components/LargeTextCard/LargeTextCard.tsx
Labels: bug, frontend

#396 Course cards without a course are no longer saved
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
Labels: change, frontend

#339 Rename schedules
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/meetingColors.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/Buttons/DeleteScheduleButton.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/Buttons/SaveScheduleButton.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/Buttons/ScheduleName.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/ScheduleListItem.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.tsx
  autoscheduler/frontend/src/hooks/useDimensions.ts
  autoscheduler/frontend/src/redux/actions/schedules.ts
  autoscheduler/frontend/src/redux/reducers/schedules.ts
  autoscheduler/frontend/src/tests/redux/Schedule.test.ts
  autoscheduler/frontend/src/tests/redux/SchedulingPage.test.ts
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulingPage.test.tsx
  autoscheduler/frontend/src/types/Schedule.ts
Labels: change, feature, frontend

#391 Fixed text for no honors or web-based sections
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicSelect.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
Labels: change, frontend, good-first-issue

#380 Memoized SectionInfo component
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionInfo.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/tests/ui/SectionSelect.test.tsx
Labels: change, frontend

#382 Database access optimization for /api/sections
  autoscheduler/scraper/models/section.py
  autoscheduler/scraper/serializers.py
  autoscheduler/scraper/views.py
Labels: backend, change

#390 Remove Average GPA
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/ScheduleListItem.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css.d.ts
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
Labels: change, frontend, good-first-issue

#384 Instruction type tooltips
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionInfo.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css.d.ts
  autoscheduler/frontend/src/types/Meeting.ts
Labels: change, frontend, good-first-issue

#361 Changed web default to no preference
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/tests/redux/Redux.test.ts
  autoscheduler/scheduler/utils.py
Labels: change, frontend

#413 Fixed bug where cards deleted when loading are recreated
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
Labels: bug, frontend

#409 Add Google Analytics script
  autoscheduler/frontend/templates/index.html
Labels: frontend

#404 Thunkified generateSchedules
  autoscheduler/frontend/src/components/SchedulingPage/ConfigureCard/ConfigureCard.tsx
  autoscheduler/frontend/src/hooks/useThunkDispatch.ts
  autoscheduler/frontend/src/redux/actions/schedules.ts
  autoscheduler/frontend/src/tests/ui/ConfigureCard.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulingPage.test.tsx
Labels: change, frontend

#397 Backend - async only filter
  autoscheduler/scheduler/create_schedules.py
  autoscheduler/scheduler/tests/api_tests.py
  autoscheduler/scheduler/tests/scheduling_tests.py
  autoscheduler/scheduler/utils.py
  autoscheduler/scheduler/views.py
  autoscheduler/scraper/management/commands/scrape_courses.py
  autoscheduler/scraper/migrations/0004_section_asynchronous.py
  autoscheduler/scraper/models/section.py
  autoscheduler/scraper/serializers.py
  autoscheduler/scraper/tests/api_tests.py
  autoscheduler/scraper/tests/commands/scrape_courses_tests.py
  autoscheduler/scraper/tests/commands/scrape_grades_tests.py
  autoscheduler/scraper/tests/models_tests.py
Labels: backend, feature

#429 Added untracked migration
  autoscheduler/scraper/migrations/0005_auto_20201026_1519.py
Labels: backend

#406 Separate honors grades
  autoscheduler/scraper/models/grades.py
  autoscheduler/scraper/serializers.py
  autoscheduler/scraper/tests/api_tests.py
  autoscheduler/scraper/tests/models_tests.py
  autoscheduler/scraper/urls.py
  autoscheduler/scraper/views.py
Labels: backend, change

#394 Redirect on null term
  autoscheduler/frontend/src/components/SchedulingPage/SchedulingPage.tsx
  autoscheduler/frontend/src/tests/ui/SchedulingPage.test.tsx
Labels: change, frontend, hacktoberfest-accepted

#434 Removed asyncio from requirements
  autoscheduler/requirements.txt
Labels: backend

#414 Added favicon + navbar logo
  autoscheduler/autoscheduler/settings/base.py
  autoscheduler/frontend/assets/android-chrome-192x192.png
  autoscheduler/frontend/assets/android-chrome-512x512.png
  autoscheduler/frontend/assets/apple-touch-icon.png
  autoscheduler/frontend/assets/browserconfig.xml
  autoscheduler/frontend/assets/favicon-16x16.png
  autoscheduler/frontend/assets/favicon-32x32.png
  autoscheduler/frontend/assets/favicon.svg
  autoscheduler/frontend/assets/logo.png
  autoscheduler/frontend/assets/mstile-144x144.png
  autoscheduler/frontend/assets/mstile-150x150.png
  autoscheduler/frontend/assets/mstile-310x150.png
  autoscheduler/frontend/assets/mstile-310x310.png
  autoscheduler/frontend/assets/mstile-70x70.png
  autoscheduler/frontend/assets/safari-pinned-tab.svg
  autoscheduler/frontend/assets/site.webmanifest
  autoscheduler/frontend/src/components/NavBar.tsx
  autoscheduler/frontend/src/globals.ts
  autoscheduler/frontend/src/jest.config.js
  autoscheduler/frontend/src/package-lock.json
  autoscheduler/frontend/src/package.json
  autoscheduler/frontend/src/webpack.config.js
  autoscheduler/frontend/templates/index.html
Labels: frontend

#338 Logout button
  autoscheduler/frontend/src/components/App/App.tsx
  autoscheduler/frontend/src/components/NavBar/LoginButton.tsx
  autoscheduler/frontend/src/components/NavBar/NavBar.css
  autoscheduler/frontend/src/components/NavBar/NavBar.css.d.ts
  autoscheduler/frontend/src/components/NavBar/NavBar.tsx
  autoscheduler/frontend/src/components/NavBar/reloadPage.tsx
  autoscheduler/frontend/src/tests/ui/NavBar.test.tsx
  autoscheduler/user_sessions/urls.py
  autoscheduler/user_sessions/views.py
Labels: backend, frontend

#422 Cleaned up code to change expanded row CSS
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
Labels: change, frontend

#420 Added dynamic CSS rules to expanded row
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
Labels: frontend

#435 Made GCP only deploy on pushes to production
  .github/workflows/deploy-workflow.yml
Labels: continuous-integration, deployment

#442 Made text when no schedules have been created more helpful
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.tsx
  autoscheduler/frontend/src/tests/ui/SchedulingPage.test.tsx
Labels: change, frontend

#400 Frontend/async only filter
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicOptionRow.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicSelect.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/actions/schedules.ts
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
  autoscheduler/frontend/src/redux/testData.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/tests/redux/Redux.test.ts
  autoscheduler/frontend/src/tests/redux/Schedule.test.ts
  autoscheduler/frontend/src/tests/testData.ts
  autoscheduler/frontend/src/tests/testSchedules.ts
  autoscheduler/frontend/src/tests/types/Meeting.test.ts
  autoscheduler/frontend/src/tests/types/Section.test.ts
  autoscheduler/frontend/src/tests/ui/BasicSelect.test.tsx
  autoscheduler/frontend/src/tests/ui/ConfigureCard.test.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
  autoscheduler/frontend/src/tests/ui/MeetingCard.test.tsx
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
  autoscheduler/frontend/src/tests/ui/SectionSelect.test.tsx
  autoscheduler/frontend/src/types/CourseCardOptions.ts
  autoscheduler/frontend/src/types/Section.ts
Labels: feature, frontend, hacktoberfest-accepted

#445 Added open graph/twitter meta tags + banner image
  autoscheduler/frontend/assets/banner.png
  autoscheduler/frontend/templates/index.html
Labels: frontend

#366 Associate user with session
  autoscheduler/user_sessions/migrations/0001_initial.py
  autoscheduler/user_sessions/migrations/__init__.py
  autoscheduler/user_sessions/models/__init__.py
  autoscheduler/user_sessions/models/user_to_data_session.py
  autoscheduler/user_sessions/tests/retrieve_data_session_tests.py
  autoscheduler/user_sessions/utils/retrieve_data_session.py
  autoscheduler/user_sessions/views.py
  docker-entrypoint.sh
Labels: backend

#438 Hides time cursor when hovering over availability
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/AvailabilityCard/AvailabilityCard.css
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/AvailabilityCard/AvailabilityCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/ScheduleCard/ScheduleCard.css
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/ScheduleCard/ScheduleCard.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/ScheduleCard/ScheduleCard.tsx
Labels: change, frontend

#401 Update README.md
  README.md
Labels: documentation, hacktoberfest-accepted
