Repository aggie-coding-club/Rev-Registration, pull requests merged in 2020-09, with the labels that each got.

#331 Fix bug with course name disappearing
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.tsx
Labels: bug, frontend

#311 Added 404 page
  autoscheduler/frontend/src/components/App/App.tsx
  autoscheduler/frontend/src/components/LandingPage/HelpText/HelpText.css.d.ts
  autoscheduler/frontend/src/components/LandingPage/HelpText/HelpText.tsx
  autoscheduler/frontend/src/components/LargeTextCard/LargeTextCard.css
  autoscheduler/frontend/src/components/LargeTextCard/LargeTextCard.css.d.ts
  autoscheduler/frontend/src/components/LargeTextCard/LargeTextCard.tsx
  autoscheduler/frontend/src/components/UnknownRoutePage/UnknownRoutePage.css
  autoscheduler/frontend/src/components/UnknownRoutePage/UnknownRoutePage.css.d.ts
  autoscheduler/frontend/src/components/UnknownRoutePage/UnknownRoutePage.tsx
  autoscheduler/frontend/src/tests/ui/App.test.tsx
Labels: feature, frontend

#346 Fix 415 error in scheduler/generate
  autoscheduler/frontend/src/components/SchedulingPage/ConfigureCard/ConfigureCard.tsx
Labels: bug, frontend

#326 Delete schedule dialog
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/Buttons/DeleteScheduleButton.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/Buttons/DeleteScheduleButton.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/Buttons/SaveScheduleButton.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/ColorBox.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/MiniSchedule/MiniSchedule.css
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/MiniSchedule/MiniSchedule.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/MiniSchedule/MiniSchedule.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/ScheduleListItem.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.tsx
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
  autoscheduler/frontend/src/theme.ts
Labels: feature, frontend

#347 Fix 403 error on POST and PUT requests when logged in
  autoscheduler/frontend/src/components/LandingPage/SelectTerm/SelectTerm.tsx
  autoscheduler/frontend/src/components/SchedulingPage/ConfigureCard/ConfigureCard.tsx
  autoscheduler/frontend/src/package-lock.json
  autoscheduler/frontend/src/package.json
  autoscheduler/frontend/src/tests/ui/SelectTerm.test.tsx
  autoscheduler/scheduler/views.py
Labels: backend, bug, frontend

#342 Add Google Auth .env filling for CD
  .github/workflows/deploy-workflow.yml
  autoscheduler/.gcloudignore
  fill_google_auth_credentials.sh
Labels: continuous-integration, deployment

#351 Cleanup of frontend config files
  autoscheduler/frontend/src/package-lock.json
  autoscheduler/frontend/src/package.json
  autoscheduler/frontend/src/webpack.config.js
Labels: frontend

#350 Updated guidelines
  autoscheduler/frontend/src/components/LandingPage/HelpText/HelpText.tsx
Labels: change, frontend

#319 Update saved courses when course cards are updated
  autoscheduler/frontend/src/components/SchedulingPage/ConfigureCard/ConfigureCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/AvailabilityCard/AvailabilityCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/HoveredTime/HoveredTime.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/ScheduleCard/DragHandle.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/ScheduleCard/ScheduleCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/MiniSchedule/MiniSchedule.tsx
  autoscheduler/frontend/src/tests/types/Availability.test.ts
  autoscheduler/frontend/src/tests/ui/Availability.test.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectColumn.test.tsx
  autoscheduler/frontend/src/types/Availability.ts
  autoscheduler/frontend/src/utils/throttle.ts
  autoscheduler/frontend/src/utils/timeUtil.ts
  autoscheduler/user_sessions/tests/courses_api_tests.py
  autoscheduler/user_sessions/views.py
Labels: change, frontend

#357 Optimize course card loading
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/tests/redux/Redux.test.ts
  autoscheduler/frontend/src/tests/ui/ConfigureCard.test.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectColumn.test.tsx
  autoscheduler/frontend/src/types/CourseCardOptions.ts
  autoscheduler/frontend/src/utils/createThrottleFunction.ts
Labels: bug, change, frontend

#352 Update README
  README.md
  assets/project-demo.gif
  autoscheduler/frontend/src/components/LandingPage/HelpText/HelpText.tsx
Labels: change, documentation

#340 Moved availability instructions to dialog
  autoscheduler/frontend/src/components/SchedulingPage/ConfigureCard/ConfigureCard.css
  autoscheduler/frontend/src/components/SchedulingPage/ConfigureCard/ConfigureCard.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/ConfigureCard/ConfigureCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/InstructionsDialog/InstructionsDialog.css
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/InstructionsDialog/InstructionsDialog.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/InstructionsDialog/InstructionsDialog.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.tsx
Labels: change, frontend

#341 GCP: Scrape courses on a schedule
  .github/workflows/backend-workflow.yml
  autoscheduler/autoscheduler/settings/docker.py
  autoscheduler/scraper/management/commands/scrape_courses.py
  autoscheduler/scraper/management/commands/utils/scraper_utils.py
  autoscheduler/scraper/tests/commands/scraper_utils_tests.py
  docker-compose.yml
  docker/scrape-courses/Dockerfile
  docker/scrape-courses/entrypoint.sh
Labels: backend, deployment
