Repository aggie-coding-club/Rev-Registration, pull requests merged in 2020-06, with the labels that each got.

#272 Added PR template
  .github/pull_request_template.md
Labels: feature

#251 Added icon to honors sections
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/tests/ui/ConfigureCard.test.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
Labels: feature, frontend

#270 Fixed bug when dragging outside of schedule component
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.tsx
  autoscheduler/frontend/src/tests/ui/Availability.test.tsx
Labels: bug, frontend
