Repository aggie-coding-club/Rev-Registration, pull requests merged in 2020-01, with the labels that each got.

#118 Reset migrations before creating them
  docker-entrypoint.sh
Labels: backend, bug, continuous-integration

#116 Implement Course Select Card
  autoscheduler/frontend/src/.eslintrc.js
  autoscheduler/frontend/src/components/CourseSelectCard/CollapsedCourseCard/CollapsedCourseCard.css
  autoscheduler/frontend/src/components/CourseSelectCard/CollapsedCourseCard/CollapsedCourseCard.css.d.ts
  autoscheduler/frontend/src/components/CourseSelectCard/CollapsedCourseCard/CollapsedCourseCard.tsx
  autoscheduler/frontend/src/components/CourseSelectCard/CourseSelectCard.tsx
  autoscheduler/frontend/src/components/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicSelect.tsx
  autoscheduler/frontend/src/components/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.css
  autoscheduler/frontend/src/components/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.css.d.ts
  autoscheduler/frontend/src/components/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.tsx
  autoscheduler/frontend/src/components/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css
  autoscheduler/frontend/src/components/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css.d.ts
  autoscheduler/frontend/src/components/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/components/Empty/Empty.tsx
  autoscheduler/frontend/src/index.tsx
  autoscheduler/frontend/src/package-lock.json
  autoscheduler/frontend/src/package.json
  autoscheduler/frontend/src/redux/actionTypes.ts
  autoscheduler/frontend/src/redux/actions.ts
  autoscheduler/frontend/src/redux/reducers.ts
  autoscheduler/frontend/src/redux/testData.ts
  autoscheduler/frontend/src/tests/CourseSelectCard.test.tsx
  autoscheduler/frontend/src/tests/Redux.test.ts
  autoscheduler/frontend/src/types/CourseCardOptions.ts
Labels: frontend

#126 Fix schedule background
  autoscheduler/frontend/src/components/Schedule/Schedule.css
Labels: bug, frontend
