Repository aggie-coding-club/Rev-Registration, pull requests merged in 2020-11, with the labels that each got.

#450 Keep route on login
  autoscheduler/frontend/src/components/NavBar/LoginButton.tsx
  autoscheduler/frontend/src/tests/ui/NavBar.test.tsx
Labels: change, frontend

#402 Mini dividers + make instructors sticky for Course Cards
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionInfo.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
Labels: change, frontend

#410 Added availabilities to session
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.css
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.tsx
  autoscheduler/frontend/src/components/SmallFastProgress.tsx
  autoscheduler/frontend/src/redux/actions/availability.ts
  autoscheduler/frontend/src/redux/reducers/availability.ts
  autoscheduler/frontend/src/tests/redux/Availability.test.ts
  autoscheduler/frontend/src/tests/ui/Availability.test.tsx
  autoscheduler/frontend/src/tests/ui/AvailabilityMultiDay.test.tsx
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulingPage.test.tsx
  autoscheduler/user_sessions/urls.py
  autoscheduler/user_sessions/views.py
Labels: backend, change, frontend

#421 Section select overrides include full sections
  autoscheduler/scheduler/create_schedules.py
  autoscheduler/scheduler/tests/scheduling_tests.py
Labels: backend

#444 Handle new instructional methods
  autoscheduler/scheduler/create_schedules.py
  autoscheduler/scheduler/tests/scheduling_tests.py
  autoscheduler/scraper/management/commands/scrape_courses.py
  autoscheduler/scraper/migrations/0006_auto_20201104_1439.py
  autoscheduler/scraper/models/section.py
  autoscheduler/scraper/serializers.py
  autoscheduler/scraper/tests/api_tests.py
  autoscheduler/scraper/tests/commands/scrape_courses_tests.py
  autoscheduler/scraper/tests/data/section_input.json
Labels: backend, bug, change, feature, stat

#457 Added GNU GPL v3 License
  LICENSE
Labels: documentation

#443 Added border to mini-schedule
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/MiniSchedule/MiniSchedule.css
Labels: change, frontend

#417 Save schedules
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulingPage.tsx
  autoscheduler/frontend/src/redux/actions/schedules.ts
  autoscheduler/frontend/src/redux/reducers/schedules.ts
  autoscheduler/frontend/src/tests/testData.ts
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulingPage.test.tsx
  autoscheduler/frontend/src/types/APIRequests.ts
  autoscheduler/scheduler/views.py
  autoscheduler/scraper/serializers.py
  autoscheduler/user_sessions/tests/schedules_api_tests.py
  autoscheduler/user_sessions/urls.py
  autoscheduler/user_sessions/views.py
Labels: backend, feature, frontend, stat

#461 Fixed failing test
  autoscheduler/user_sessions/tests/schedules_api_tests.py
Labels: backend

#466 Made height apply correctly on macOS Safari
  autoscheduler/frontend/src/components/App/App.css
  autoscheduler/frontend/src/components/App/App.css.d.ts
  autoscheduler/frontend/src/components/App/App.tsx
Labels: bug, frontend

#446 Frontend/rename web remote
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicOptionRow.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicSelect.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/actions/schedules.ts
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
  autoscheduler/frontend/src/redux/testData.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/tests/redux/Redux.test.ts
  autoscheduler/frontend/src/tests/redux/Schedule.test.ts
  autoscheduler/frontend/src/tests/testData.ts
  autoscheduler/frontend/src/tests/testSchedules.ts
  autoscheduler/frontend/src/tests/types/Meeting.test.ts
  autoscheduler/frontend/src/tests/types/Section.test.ts
  autoscheduler/frontend/src/tests/ui/BasicSelect.test.tsx
  autoscheduler/frontend/src/tests/ui/ConfigureCard.test.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
  autoscheduler/frontend/src/tests/ui/MeetingCard.test.tsx
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
  autoscheduler/frontend/src/tests/ui/SectionSelect.test.tsx
  autoscheduler/frontend/src/types/CourseCardOptions.ts
  autoscheduler/frontend/src/types/Section.ts
  autoscheduler/scheduler/create_schedules.py
  autoscheduler/scheduler/tests/api_tests.py
  autoscheduler/scheduler/tests/scheduling_tests.py
  autoscheduler/scheduler/utils.py
  autoscheduler/scheduler/views.py
  autoscheduler/scraper/management/commands/scrape_courses.py
  autoscheduler/scraper/migrations/0007_auto_20201111_1735.py
  autoscheduler/scraper/models/section.py
  autoscheduler/scraper/serializers.py
  autoscheduler/scraper/tests/api_tests.py
  autoscheduler/scraper/tests/commands/scrape_courses_tests.py
  autoscheduler/user_sessions/tests/schedules_api_tests.py
Labels: change, frontend, good-first-issue, hacktoberfest-accepted

#455 Fixed mini schedule sizing problems
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/MiniSchedule/MiniSchedule.css
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/MiniSchedule/MiniSchedule.tsx
Labels: bug, frontend

#423 Error messages for generating schedules
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicOptionRow.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/actions/schedules.ts
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/tests/testData.ts
  autoscheduler/frontend/src/tests/ui/ConfigureCard.test.tsx
  autoscheduler/frontend/src/theme.ts
  autoscheduler/frontend/src/types/APIResponses.ts
  autoscheduler/frontend/src/types/CourseCardOptions.ts
  autoscheduler/scheduler/create_schedules.py
  autoscheduler/scheduler/tests/api_tests.py
  autoscheduler/scheduler/tests/scheduling_tests.py
  autoscheduler/scheduler/views.py
Labels: backend, change, feature, frontend
