Repository aggie-coding-club/Rev-Registration, pull requests merged in 2020-07, with the labels that each got.

#257 course cards now work with variable amounts of spaces
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.tsx
Labels: frontend

#273 Frontend/concat exams
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
Labels: change, frontend

#281 Shows snackbar when no schedules can be generated
  autoscheduler/frontend/src/components/SchedulingPage/ConfigureCard/ConfigureCard.tsx
  autoscheduler/frontend/src/tests/ui/ConfigureCard.test.tsx
Labels: change, frontend

#288 Google social auth now works
  .github/lint-requirements.txt
  autoscheduler/autoscheduler/settings/base.py
  autoscheduler/autoscheduler/urls.py
  autoscheduler/autoscheduler/wsgi.py
  autoscheduler/frontend/src/components/NavBar.tsx
  autoscheduler/requirements.txt
Labels: backend

#264 Added mini schedule to schedule preview
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/meetingColors.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ColorBox.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/MiniSchedule/MiniSchedule.css
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/MiniSchedule/MiniSchedule.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/MiniSchedule/MiniSchedule.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.tsx
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
Labels: feature, frontend

#306 Update GCP Database & Storage names
  .github/workflows/deploy-workflow.yml
  autoscheduler/autoscheduler/settings/base.py
Labels: backend, continuous-integration

#290 Got rid of getOptionSelected warning in tests
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.tsx
Labels: frontend

#275 Added grade distribution displaying to SectionSelect
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/GradeDist/GradeDist.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/GradeDist/GradeDist.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/GradeDist/GradeDist.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/tests/redux/CourseCardRedux.test.ts
  autoscheduler/frontend/src/tests/types/Grades.test.ts
  autoscheduler/frontend/src/tests/ui/GradeDist.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
  autoscheduler/frontend/src/types/Grades.ts
  autoscheduler/scraper/models/grades.py
  autoscheduler/scraper/serializers.py
  autoscheduler/scraper/tests/api_tests.py
  autoscheduler/scraper/tests/models_tests.py
Labels: backend, feature, frontend
