Repository aggie-coding-club/Rev-Registration, pull requests merged in 2021-01, with the labels that each got.

#470 Meeting type is once again hidden if card is small
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/MeetingCard/MeetingCard.css
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/MeetingCard/MeetingCard.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/MeetingCard/MeetingCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/ScheduleCard/ScheduleCard.tsx
  autoscheduler/frontend/src/tests/testData.ts
  autoscheduler/frontend/src/tests/ui/ConfigureCard.test.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
  autoscheduler/frontend/src/tests/ui/MeetingCard.test.tsx
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulingPage.test.tsx
Labels: bug, frontend

#465 Add migrations running on deploy
  .github/workflows/deploy-workflow.yml
  autoscheduler/autoscheduler/settings/docker.py
  docker-compose.yml
  docker/cloud-sql-proxy-cred-file/Dockerfile
  docker/run-migrations/Dockerfile
  docker/run-migrations/entrypoint.sh
Labels: continuous-integration, deployment

#478 Fix term select after redux-rearrange
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.tsx
  autoscheduler/frontend/src/redux/actions/availability.ts
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/actions/schedules.ts
  autoscheduler/frontend/src/redux/actions/termData.ts
  autoscheduler/frontend/src/redux/reducers/availability.ts
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
  autoscheduler/frontend/src/redux/reducers/schedules.ts
  autoscheduler/frontend/src/redux/reducers/termData.ts
  autoscheduler/frontend/src/tests/redux/Availability.test.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/tests/redux/Schedule.test.ts
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
  autoscheduler/frontend/src/types/CourseCardOptions.ts
Labels: change, frontend

#437 Frontend/am pm
  autoscheduler/frontend/src/utils/timeUtil.ts
Labels: frontend

#472 Term-select: Re-arrange redux
  autoscheduler/frontend/src/components/LandingPage/SelectTerm/SelectTerm.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/CollapsedCourseCard/CollapsedCourseCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/CourseSelectCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicOptionRow.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicSelect.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/InstructionsDialog/InstructionsDialog.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.tsx
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/meetingColors.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/Buttons/DeleteScheduleButton.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/Buttons/SaveScheduleButton.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/Buttons/ScheduleName.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/ScheduleListItem.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulingPage.tsx
  autoscheduler/frontend/src/redux/actions/availability.ts
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/actions/schedules.ts
  autoscheduler/frontend/src/redux/actions/term.ts
  autoscheduler/frontend/src/redux/actions/termData.ts
  autoscheduler/frontend/src/redux/reducer.ts
  autoscheduler/frontend/src/redux/reducers/availability.ts
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
  autoscheduler/frontend/src/redux/reducers/schedules.ts
  autoscheduler/frontend/src/redux/reducers/term.ts
  autoscheduler/frontend/src/redux/reducers/termData.ts
  autoscheduler/frontend/src/tests/redux/Availability.test.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/tests/redux/Schedule.test.ts
  autoscheduler/frontend/src/tests/redux/SchedulingPage.test.ts
  autoscheduler/frontend/src/tests/redux/Term.test.ts
  autoscheduler/frontend/src/tests/types/Availability.test.ts
  autoscheduler/frontend/src/tests/ui/BasicSelect.test.tsx
  autoscheduler/frontend/src/tests/ui/ConfigureCard.test.tsx
  autoscheduler/frontend/src/tests/ui/NavBar.test.tsx
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulingPage.test.tsx
  autoscheduler/frontend/src/types/CourseCardOptions.ts
  autoscheduler/frontend/src/types/TermData.ts
Labels: change, frontend

#497 Times are no longer covered by adjacent meetings
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/ScheduleCard/ScheduleCard.css
Labels: bug, frontend

#464 Added a last updated indicator
  autoscheduler/frontend/src/components/LastUpdatedAt.tsx
  autoscheduler/frontend/src/components/NavBar/NavBar.tsx
  autoscheduler/frontend/src/tests/ui/LastUpdatedAt.test.tsx
  autoscheduler/scraper/management/commands/fill_terms.py
  autoscheduler/scraper/management/commands/scrape_courses.py
  autoscheduler/scraper/management/commands/utils/scraper_utils.py
  autoscheduler/scraper/migrations/0008_term.py
  autoscheduler/scraper/models/__init__.py
  autoscheduler/scraper/models/term.py
  autoscheduler/scraper/serializers.py
  autoscheduler/scraper/tests/api_tests.py
  autoscheduler/scraper/tests/last_updated_api_tests.py
  autoscheduler/scraper/urls.py
  autoscheduler/scraper/views.py
Labels: backend, feature, frontend
