Repository aggie-coding-club/Rev-Registration, pull requests merged in 2021-04, with the labels that each got.

#525 Added V dropdown icons to SelectTerm
  autoscheduler/frontend/src/components/LandingPage/SelectTerm/SelectTerm.tsx
Labels: feature, frontend

#473 Select by instructor
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/GradeDist/GradeDist.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/ProfessorGroup.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionInfo.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectColumn.test.tsx
  autoscheduler/frontend/src/tests/ui/ProfessorGroup.test.tsx
  autoscheduler/frontend/src/tests/ui/SectionSelect.test.tsx
  autoscheduler/frontend/src/tests/util.ts
Labels: change, frontend

#535 gzip main.js
  .github/workflows/deploy-workflow.yml
Labels: deployment

#534 Fix instructor select bugs
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/ProfessorGroup.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionInfo.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css.d.ts
  autoscheduler/frontend/src/tests/ui/SectionSelect.test.tsx
Labels: bug, frontend

#532 GCP Error Logging
  autoscheduler/autoscheduler/middleware/__init__.py
  autoscheduler/autoscheduler/middleware/logging_middleware.py
  autoscheduler/autoscheduler/settings/base.py
  autoscheduler/requirements.txt
Labels: backend, deployment, feature

#531 Filter duplicate meetings on schedule
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/Schedule.tsx
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
  autoscheduler/frontend/src/utils/meetingsForSchedule.ts
  autoscheduler/frontend/src/utils/meetingsForSection.ts
Labels: bug, frontend

#542 Fix actions backend linting
  .github/lint-requirements.txt
Labels: backend, continuous-integration

#539 Set term to null on landing page
  autoscheduler/frontend/src/components/LandingPage/LandingPage.tsx
  autoscheduler/frontend/src/tests/ui/LandingPage.test.tsx
Labels: bug, frontend

#543 Fix default sort direction and add direction to sessions
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/tests/ui/CourseSelectColumn.test.tsx
Labels: bug, frontend

#546 Made select term on landing page golden
  autoscheduler/frontend/src/components/LandingPage/SelectTerm/SelectTerm.css
Labels: frontend

#474 Transition and memoize course cards
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/CollapsedCourseCard/CollapsedCourseCard.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/CollapsedCourseCard/CollapsedCourseCard.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/CollapsedCourseCard/CollapsedCourseCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/CourseSelectCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectColumn.test.tsx
Labels: frontend

#538 Remove arrow from GradeDist tooltips
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/GradeDist/GradeDist.tsx
Labels: bug, frontend

#536 Added sort by text and sort by shrinking
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/tests/ui/SectionSelect.test.tsx
  autoscheduler/frontend/src/types/CourseCardOptions.ts
Labels: change, frontend

#502 Disable course cards
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/CourseSelectCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/ExpandedCourseCard.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/actions/schedules.ts
  autoscheduler/frontend/src/tests/redux/Schedule.test.ts
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectColumn.test.tsx
  autoscheduler/frontend/src/theme.ts
  autoscheduler/frontend/src/types/CourseCardOptions.ts
Labels: feature, frontend

#553 Fixed bug where large cards take up extra space
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
Labels: bug, frontend

#569 Fix unavailable section handling for /get_saved_schedules
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.tsx
  autoscheduler/scheduler/tests/api_tests.py
  autoscheduler/scheduler/views.py
Labels: backend, bug, frontend
