Repository aggie-coding-club/Rev-Registration, pull requests merged in 2021-02, with the labels that each got.

#486 Sort section select
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionInfo.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
  autoscheduler/frontend/src/tests/ui/CourseSelectColumn.test.tsx
  autoscheduler/frontend/src/tests/ui/SectionSelect.test.tsx
  autoscheduler/frontend/src/types/CourseCardOptions.ts
  autoscheduler/frontend/src/types/Section.ts
Labels: feature, frontend

#505 Term-select: Fixed get_all_terms
  autoscheduler/scraper/management/commands/utils/scraper_utils.py
  autoscheduler/scraper/tests/commands/scraper_utils_tests.py
Labels: backend, bug, change

#511 Extended FIRST_HOUR and LAST_HOUR by 1 hour
  autoscheduler/frontend/src/tests/types/Availability.test.ts
  autoscheduler/frontend/src/tests/ui/Availability.test.tsx
  autoscheduler/frontend/src/utils/timeUtil.ts
Labels: change, frontend

#514 Fixed backend linting (on GitHub Actions)
  .github/lint-requirements.txt
  .github/workflows/backend-workflow.yml
  autoscheduler/requirements.txt
  autoscheduler/scraper/banner_requests.py
  autoscheduler/scraper/tests/banner_requests_tests.py
Labels: backend, bug, continuous-integration

#494 About us
  autoscheduler/frontend/src/components/LandingPage/About/About.css
  autoscheduler/frontend/src/components/LandingPage/About/About.css.d.ts
  autoscheduler/frontend/src/components/LandingPage/About/About.tsx
  autoscheduler/frontend/src/components/LandingPage/LandingPage.tsx
  autoscheduler/frontend/src/tests/ui/About.test.tsx
  autoscheduler/frontend/src/theme.ts
  autoscheduler/frontend/src/types/Contributors.ts
Labels: feature, frontend

#509 Fix site.webmanifest CORS
  autoscheduler/frontend/assets/webmanifest-cors-fix.json
Labels: bug, deployment
