Repository aggie-coding-club/Rev-Registration, pull requests merged in 2021-03, with the labels that each got.

#512 Basic options default to no preference
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicOptionRow.tsx
  autoscheduler/frontend/src/tests/testData.ts
  autoscheduler/frontend/src/tests/ui/CourseSelectCard.test.tsx
Labels: bug, frontend

#513 User session fix
  autoscheduler/autoscheduler/settings/base.py
  autoscheduler/user_sessions/tests/retrieve_data_session_tests.py
  autoscheduler/user_sessions/utils/retrieve_data_session.py
Labels: backend, bug

#493 Schedule details
  autoscheduler/frontend/src/components/Icons/HonorsIcon/HonorsIcon.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/GradeDist/GradeDist.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/GradeDist/GradeDist.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/GradeDist/GradeDist.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/InstructionalMethodIcon/InstructionalMethodIcon.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/MeetingType/MeetingTypeDisplay.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionInfo.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleDetails/CRNDisplay/CRNDisplay.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleDetails/ScheduleDetails.css
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleDetails/ScheduleDetails.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleDetails/ScheduleDetails.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/ScheduleListItem.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.tsx
  autoscheduler/frontend/src/tests/ui/CRNDisplay.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
  autoscheduler/frontend/src/theme.ts
  autoscheduler/frontend/src/utils/formatMeetingDays.ts
  autoscheduler/frontend/src/utils/meetingBuilding.ts
  autoscheduler/frontend/src/utils/meetingTimeText.ts
  autoscheduler/frontend/src/utils/meetingsForSection.ts
  autoscheduler/frontend/src/utils/sectionsForSchedule.ts
  autoscheduler/scheduler/views.py
Labels: feature, frontend

#524 Use -moz- vendor prefix for fit-content
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicSelect.css
  autoscheduler/frontend/src/components/SchedulingPage/Schedule/InstructionsDialog/InstructionsDialog.css
Labels: bug, frontend

#503 Schedule preview improvements
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/ColorBox.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/ScheduleListItem.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.css.d.ts
Labels: feature, frontend

#482 Move include full section into course card
  autoscheduler/frontend/src/components/SchedulingPage/ConfigureCard/ConfigureCard.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/ConfigureCard/ConfigureCard.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicCheckbox.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/BasicSelect/BasicSelect.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectColumn.tsx
  autoscheduler/frontend/src/components/SchedulingPage/GenerateSchedulesButton/GenerateSchedulesButton.css
  autoscheduler/frontend/src/components/SchedulingPage/GenerateSchedulesButton/GenerateSchedulesButton.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/GenerateSchedulesButton/GenerateSchedulesButton.tsx
  autoscheduler/frontend/src/components/SchedulingPage/GenerateSchedulesButton/generateSchedulesMock.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulingPage.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/actions/schedules.ts
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
  autoscheduler/frontend/src/tests/ui/GenerateSchedulesButton.test.tsx
  autoscheduler/frontend/src/types/CourseCardOptions.ts
  autoscheduler/scheduler/create_schedules.py
  autoscheduler/scheduler/tests/api_tests.py
  autoscheduler/scheduler/tests/scheduling_tests.py
  autoscheduler/scheduler/utils.py
  autoscheduler/scheduler/views.py
Labels: backend, change, frontend

#515 Privacy policy
  autoscheduler/frontend/src/components/LandingPage/About/About.css
  autoscheduler/frontend/src/components/LandingPage/About/About.css.d.ts
  autoscheduler/frontend/src/components/LandingPage/About/About.tsx
  autoscheduler/frontend/src/components/LandingPage/InfoDialog/InfoDialog.css
  autoscheduler/frontend/src/components/LandingPage/InfoDialog/InfoDialog.css.d.ts
  autoscheduler/frontend/src/components/LandingPage/InfoDialog/InfoDialog.tsx
  autoscheduler/frontend/src/components/LandingPage/LandingPage.css
  autoscheduler/frontend/src/components/LandingPage/LandingPage.css.d.ts
  autoscheduler/frontend/src/components/LandingPage/LandingPage.tsx
  autoscheduler/frontend/src/components/LandingPage/PrivacyPolicy/PrivacyPolicy.tsx
Labels: feature, frontend

#526 Use production react/redux in production
  autoscheduler/autoscheduler/settings/base.py
  autoscheduler/frontend/src/.eslintrc.js
  autoscheduler/frontend/src/components/NavBar/NavBar.tsx
  autoscheduler/frontend/src/globals.ts
  autoscheduler/frontend/src/index.tsx
  autoscheduler/frontend/src/jest.config.js
  autoscheduler/frontend/src/tsconfig.json
  autoscheduler/frontend/src/webpack.config.js
  autoscheduler/frontend/templates/index.html
  autoscheduler/frontend/views.py
Labels: change, frontend
