Repository aggie-coding-club/Rev-Registration, pull requests merged in 2022-03, with the labels that each got.

#627 McAllen Separation
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/BasicOptionRow.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/InstructionalMethodIcon/InstructionalMethodIcon.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/InstructionalMethodIcon/InstructionalMethodIcon.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionAttributeIcons/SectionAttributeIcons.css
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionAttributeIcons/SectionAttributeIcons.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionAttributeIcons/SectionAttributeIcons.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionInfo.tsx
  autoscheduler/frontend/src/components/SchedulingPage/CourseSelectColumn/CourseSelectCard/ExpandedCourseCard/SectionSelect/SectionSelect.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleDetails/ScheduleDetails.css
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleDetails/ScheduleDetails.css.d.ts
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleDetails/ScheduleDetails.tsx
  autoscheduler/frontend/src/redux/actions/courseCards.ts
  autoscheduler/frontend/src/redux/actions/schedules.ts
  autoscheduler/frontend/src/redux/reducers/courseCards.ts
  autoscheduler/frontend/src/redux/testData.ts
  autoscheduler/frontend/src/tests/redux/CourseCards.test.ts
  autoscheduler/frontend/src/tests/redux/Redux.test.ts
  autoscheduler/frontend/src/tests/redux/Schedule.test.ts
  autoscheduler/frontend/src/tests/testData.ts
  autoscheduler/frontend/src/tests/testSchedules.ts
  autoscheduler/frontend/src/tests/types/Meeting.test.ts
  autoscheduler/frontend/src/tests/types/Section.test.ts
  autoscheduler/frontend/src/tests/ui/CourseSelectColumn.test.tsx
  autoscheduler/frontend/src/tests/ui/GenerateSchedulesButton.test.tsx
  autoscheduler/frontend/src/tests/ui/MeetingCard.test.tsx
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
  autoscheduler/frontend/src/tests/ui/SectionSelect.test.tsx
  autoscheduler/frontend/src/tests/util.ts
  autoscheduler/frontend/src/types/CourseCardOptions.ts
  autoscheduler/frontend/src/types/Section.ts
  autoscheduler/frontend/src/utils/filterSections.tsx
  autoscheduler/scraper/management/commands/scrape_courses.py
  autoscheduler/scraper/migrations/0009_section_mcallen.py
  autoscheduler/scraper/migrations/0012_merge_20211116_1843.py
  autoscheduler/scraper/models/section.py
  autoscheduler/scraper/serializers.py
  autoscheduler/scraper/tests/api_tests.py
  autoscheduler/scraper/tests/commands/scrape_courses_tests.py
  autoscheduler/user_sessions/tests/schedules_api_tests.py
Labels: feature, frontend, backend

#609 Add automatic shifting of scrape courses schedule
  gcp/cloud-function-update-scheduler.js
Labels: deployment

#605 Save all schedules + selected schedule
  .github/workflows/backend-workflow.yml
  autoscheduler/autoscheduler/middleware/logging_middleware.py
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/Buttons/DeleteScheduleButton.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/Buttons/LockScheduleButton.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/ScheduleListItem/ScheduleListItem.tsx
  autoscheduler/frontend/src/components/SchedulingPage/SchedulePreview/SchedulePreview.tsx
  autoscheduler/frontend/src/redux/reducers/schedules.ts
  autoscheduler/frontend/src/tests/redux/Schedule.test.ts
  autoscheduler/frontend/src/tests/testData.ts
  autoscheduler/frontend/src/tests/ui/Schedule.test.tsx
  autoscheduler/frontend/src/tests/ui/SchedulePreview.test.tsx
  autoscheduler/frontend/src/types/APIRequests.ts
  autoscheduler/frontend/src/types/Schedule.ts
  autoscheduler/user_sessions/tests/name_api_tests.py
  autoscheduler/user_sessions/tests/retrieve_data_session_tests.py
  autoscheduler/user_sessions/tests/schedules_api_tests.py
  autoscheduler/user_sessions/tests/term_api_tests.py
  autoscheduler/user_sessions/views.py
Labels: feature, frontend, backend, change

#630 Update README gif and Help text to remove "This site is a WIP"
  assets/project-demo.gif
  autoscheduler/frontend/src/components/LandingPage/HelpText/HelpText.tsx
Labels: frontend
